{% extends "layout.html" %}
{% block content %}
    {% for item in favs %} 
        <article class="media content-section">
          <img style="height: 250px; width: 250px; padding: 10px" class="img-rounded" src="{{  url_for('static', filename='image_pics/' + item.Items.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="article-title">{{ item.Items.userID }}</a></h2>
            </div>
            <p class="article-content">Type of Clothing: {{ item.Items.typeOfClothing }}</p>
            <p class="article-content">Colour: {{ item.Items.colour }}</p>
            <p class="article-content">Size: {{ item.Items.size }}</p>
            <p class="article-content">Brand: {{ item.Items.brand }}</p>
            <h5><a class="article-content" href="{{ url_for('unfavourite', item_id=item.Items.id) }}">♥</a></h5>
            <h4><a class="article-title" href="{{ url_for('rent', item_id=item.Items.id) }}">Rent</a></h4> 
          </div> 
        </article>
        
    {% endfor %}
{% endblock content %}
